<tr>
  <td><%= link_to question.body, url_for(@question)%></td>

  <td><%= link_to 'Edit', "#{url_for([@test, question])}/edit" %></td>
  <td><%= link_to 'Delete', url_for([@test, question]), method: :delete, data: {confirm: "Delete question?"} %></td>
</tr>
