<div align="center">
Test guru repo <%= github_url('TestGuru', 'PavelSher09/test-guru') %>
Author: <%= github_url('Pavel Sher', 'PavelSher09') %> (<%= year %> )
Учебный проект в онлайн-школе <a href="https://thinknetica.com/" target='_blank'>Thinknetica</a>
</div>
