.flash  {
    border: 2px solid;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

.flash.notice {
    border-color: green;
}
.flash.alert {
    border-color: red($color: #e91111);
}